/*
 * Styles specific to the new user page
 */

.intro_description {
    background-color: #BC005C;
    color: #FFF;
    font-size: 100%;
    font-weight: 100;
    text-align: center;
    padding-top: 29px;
}

.intro_top {
    width: 100%;
    height: 266px;
    background-color: #BC005C;
    border-bottom: 1px solid #BEBEBE;
}

.restore_top {
    width: 100%;
    height: 158px;
    background-color: #BC005C;
    border-bottom: 1px solid #BEBEBE;    
}

.intro_avatar {
    margin: auto;
    width: 145px;
    height: 145px;
    
    background-image: url('../img/Avatar_bck.png');
    background-size: 145px 145px;
}

.intro_user_avatar {
    width: 128px;
    height: 128px;
    border-radius: 125px;
    margin-top: 9px;
    margin-left: 9px;
}

.intro_avatar_text {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 110%;
    padding-top: 40px;
    margin-bottom: 30px;
}

.intro_nick {
    margin: auto;
    margin-top: 23px;
    width: 85%;
    margin-bottom: 56px;
}

#nicknameInput {
    margin: auto;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #DDD;
    color: #969696;
    width: 100%;
    font-size: 110%;
}

.intro_bottom {
    color: #404040;
    width: 330px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
}

.intro_textarea {
    border:solid 2px #00aaf1; 
    background-color: #EDEDED;
    outline: none;
}

.button {
    width: 80%;
    height: 51px;
    color: #6B6B6B;    
    background-color: #F9F9F9;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-size: 140%;
    padding: 14px;
    border-radius: 25px;
    border:solid 2px #6B6B6B;
    margin: auto;
    margin-top: 20px;
}

.button:hover,
.button:active {
    background-color: #CD003F;
    color: #FFF;
}

.hbutton {
    width: 80%;
    height: 51px;
    color: #CD003F;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-size: 125%;
    padding: 12px;
    border: 1px solid #CD003F;
    border-radius: 25px;
    margin: auto;
    
}

.hbutton:hover,
.hbutton:active {
    background-color: #CD003F;
    color: #FFF;
}

.selectedhbutton {
    width: 80%;
    height: 51px;    
    text-align: center;
    text-decoration: none;
    font-size: 125%;
    padding: 12px;
    margin: auto;
    color: #6c6c6c;  
    border-bottom: 1px solid #D4D4D4;

}

.restore_icon {
    margin: auto;
    width: 47px;
    height: 88px;
    margin-top: 0px;
    background-image: url('../img/Restore.png');
    background-size: 47px 50px;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.restore_description {
    margin: auto;
    width: 70%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    font-size: 90%;
}

.restore_text_step1 {
    margin: auto;
    width: 70%;
    padding-left: 50px;
    min-height: 30px;
    
    background-image: url('../img/lock_red.png');
    background-repeat: no-repeat;
    background-size: 14px 18px;
    background-position: 5px 10px;
    
}

.restore_steps {
    width: 100%;
    height: 60px;
    
    background-image: url('../img/restore_steps.png');
    background-size: 5px 30px;
    background-position: center center;
    background-repeat: no-repeat;
}

.restore_hr {
    color: #D4D4D4;
    background: #D4D4D4;
    border-color: #D4D4D4;
    width: 70%;
    margin-top: 29px;
}

.passwordHolder {
    margin: auto;
    margin-top: 10px;
    width: 50%;
}
.passwordInput {
    width: 100%;

    margin: auto;

    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #3491C8;
    color: #3491C8;
    font-size: 130%;
    text-align: center;

    
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #BC005C;
    opacity: 0.9;
    z-index: 99;
    color: #FFFFFF;
}

.overheader {
    text-align: center;
    margin-top: 60px;
    font-size: 16px;
}

.overbottom {
    color: #FFFFFF;
    width: 330px;
    margin: auto;
    margin-top: 250px;
    text-align: center;
    font-style: italic;
}


.overimage {
    position: absolute;
    left: 50%;
    width: 64px;
    height: 79px;
    margin: 130px 0 0 -32px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }