.passwordHolder {
    margin: auto;
    margin-top: 5px;
    width: 50%;
}
.passwordInput {
    width: 100%;

    margin: auto;

    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #00aaf1;
    color: #000;
    font-size: 110%;
    text-align: center;

    
}

.passwordInfo {
    color: #A20C3A;
    width: 250px;
    margin: auto;
    height: 26px;
    text-align: left;
    padding-left: 35px;
    
    font-size: 16px;
    margin-top: 20px;
    
    background-image: url('../img/error.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 0px bottom;
}

.passwordInfoValid {
    color: #00aaf1;
    width: 250px;
    margin: auto;
    height: 26px;
    text-align: left;
    padding-left: 35px;
    
    font-size: 16px;
    margin-top: 20px;
    
    background-image: url('../img/accept_icon.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 0px bottom;    
}

.passwordInfoImg {
    width: 16px;
    height: 16px;
}

.lock_info {
    color: #6D6D6D;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    height: 26px;
    text-align: left;
    padding-left: 35px;
    
    background-image: url('../img/info_grey.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 0px bottom;
    margin-bottom: 50px;
}


.lockbutton {
    position: absolute;
    left: 0px;
    top: 70px;
    
    width: 90px;
    height: 60px;
    
    padding-top: 35px;
    text-align: center;
    
    background-image: url('../img/Locked_icon.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center 5px;
}

.locktext {
    position: absolute;
    left: 90px;
    right: 10px;
    top: 70px;
    color: #9E9E9E;
}

.lockplaceholder {
    width: 100%;
    height: 110px;
}


.restore_icon {
    width: 47px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    
    background-image: url('../img/Restore.png');
    background-size: 47px 50px;
    background-repeat: no-repeat;
    
}

.restore_subtitle {
    margin-top: 30px;
    margin-bottom: 30px;
    
    height: 40px;
    background-color: #F0F0F0;
    padding-left: 80px;
    padding-top: 10px;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    color: #858585;
    
    background-image: url('../img/lock_red.png');
    background-repeat: no-repeat;
    background-size: 14px 18px;
    background-position: 35px 10px;    
}
