<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.6.5" package="io.ixian.spixi" android:installLocation="auto" android:versionCode="0160000650">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<permission android:name="io.ixian.spixi.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="io.ixian.spixi.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<uses-feature android:name="android.hardware.audio.low_latency" android:required="false" />
	<uses-feature android:name="android.hardware.audio.pro" android:required="false" />
	<application android:label="Spixi" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_round_launcher">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.ixian.provider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
		</provider>
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="io.ixian.spixi" />
			</intent-filter>
		</receiver>
	</application>
</manifest>