/*
 * SPIXI User Interface Kit
 * https://ixian.io | https://spixi.im
 */

/* Fonts */
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* General */
body {
    font-family:'robotoregular', sans-serif;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d0acbe;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #d0acbe;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    /* Negative indent footer by its height */
    margin: 0 auto -0px;

    /* Prevent overscroll bounce  */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    
    color: #FFF;
    background: linear-gradient(#951453, #2b0f45);
}

.center {
    text-align: center;
}

.intro-main
{
    display: table;
    height: 100%;
    width: 100%;
}

.intro-top
{
    display: table-row;
    height: auto;
}

.intro-top-wrapper
{
    display: table-cell;
    vertical-align: middle;
}

.intro-bottom
{
    display: table-row;
    height: 100px;
}

/* Placeholders */
.intro-holder-20 {
    width: 100%;
    height: 20px;
}
.intro-holder-70 {
    width: 100%;
    height: 70px;
}
.intro-holder-96 {
    width: 100%;
    height: 96px;
}

.intro-logo {
    width: 85px;
    height: 97px;
}
.intro-logo-holder {
    text-align: center;
}
.intro-logo-holder2 {
    text-align: center;
    margin-top: 34px;
}

.intro-toolbar-logo {
    width: 122px;
    height: 40px;
}

.intro-title {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 13pt;
}
.intro-subtitle {
    width: 100%;
    margin-top: 0px;
    text-align: center;
    font-size: 10pt;
}


.intro-separator {
    height: 1px;
    color: rgba(0,0,0,0.12);
    width: 85%;
}

.intro-text {
    font-size: 10pt;
}
.intro-text.left {
    margin-left: 24px;
}


.intro-textfield {
    width: 100%;
    height: 44px;
    
    background: #9d587d;
    border: solid 1px #d0acbe;
    outline: none;
    border-radius: 64px;
    
    color: #d0acbe;
    padding-left: 12px;
    padding-right: 12px;
}
.intro-textfield:focus {
    border: solid 1px #FFF;
    color: #fff;
}
.intro-textfield-holder {
    width: 85%;
    margin: auto;
    padding-top: 14px;
    padding-bottom: 6px;
}

/* Buttons */
.intro-button {
    
    width: 200px;
    height: 46px;
    
    padding-top: 10px;
    text-align: center;
    font-size: 12pt;
    font-weight: 400;
    
    color: #ad1457;
    background: #FFF;
    border-radius: 50px;
    box-shadow:0px 8px 19px #555;
}
.intro-button:hover {
    background: #ebc5d5;
}
.intro-button:active {
    color: #fff;
    background: #543c83;
    box-shadow: 0px 0px;
}
.intro-button.ghost {
    background-color: #ad1457;
    color: #f7f7f7;
    border: 2px solid #fff;
}
.intro-button.ghost:hover {
    background-color: #c14c7f;
}
.intro-button.ghost:active {
    background-color: #901352;
    box-shadow: 0px 0px;
}
.intro-button.center {
    margin: auto;
}
.intro-button.left {
    margin-top: 10px;
    margin-left: 24px;
}
.intro-button.disabled {
    background: #c14c7f;
    color: #ad1457;
    box-shadow: 0px 0px;
}

.intro-button.round {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    box-shadow: 0px 0px;

    padding-top: 14px;
    font-size: 18pt;
    color: #fff;
    background: #2a1b22;
}
.intro-button.small {
    height:36px;
    border-radius: 18px;
    padding-top: 8px;
    font-size: 10pt;
    width: 160px;
    margin-left: 20px;
}
.intro-button.round:hover {
    background: #73c1ee;
}
.intro-button.round:active {
    background: #634e8e;
}

.intro-avatar {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin-top: -14px;
}

.intro-backarrow {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16pt;
}

.intro-descriptionbar {
    margin-top: 30px;
}
.intro-descriptionbar-icon {
    font-size: 24pt;
    left: 24px;
}

.intro-passworddetails {
    margin-left: 50px;
}

.intro-stepper-holder {
    width: 55px;
    height: 10px;
    margin: auto;
    margin-top: 20px;
}

.intro-stepper {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #e15887;
    margin-left: 10px;
    float: left;
}
.intro-stepper.right {
    float: none;
    margin-left: 35px;
}
.intro-stepper.active {
    background-color: #fff;
}

.intro-stepper-text {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 11pt;
}

.intro-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#951453, #2b0f45);
    z-index: 99;
    color: #FFFFFF;
}
.intro-overlay-title {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 12pt;
}
.intro-overlay-loading {
    width: 107px;
    height: 107px;
    border-radius: 107px;
    background-image: url('../img/introloading.png');
    background-size: 107px 107px;
    margin: auto;
    margin-top: 30px;
    animation: shadow-pulse 1s infinite;
}
.intro-overlay-info {
    margin-top: 40px;
    font-size: 10pt;
    text-align: center;
}
.intro-overlay-ixian {
    width: 148px;
    height: 39px;
    background-image: url('../img/poweredbyixian.png');
    background-size: 148px 39px;
    margin: auto;
    margin-top: 15px;
}


@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(160, 0, 0, 0.4);
     }
     100% {
          box-shadow: 0 0 0 55px rgba(0, 0, 0, 0);
     }
}
