/*
 * SPIXI User Interface Kit
 * https://ixian.io | https://spixi.im
 */

/* 
 * Content Sections:
 * 
 * Fonts
 * General
 * Placeholders
 * Toolbar
 * BalanceBar
 * OptionBar
 * DescriptionBar
 * TabBar
 * ToastBar
 * ErrorBar
 * CallBar
 * Buttons
 * TextField
 * Switch
 * Separators
 * ExpansionBox
 * Sidebar
 * ListItems
 * Chat
 * Modals
 * Misc
 * Colors
 * Animation
 */

/* Fonts */
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* General */
body {
    font-family:'robotoregular', sans-serif;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#wrap {
  /*  min-height: 100%;
    height: auto !important;*/
    /* Negative indent footer by its height */
    /*margin: 0 auto -0px;*/
    
    padding: 0 0;
    
    /* Prevent overscroll bounce  */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    
    background: #eef2f5;
}

img.emoji {
   height: 2em;
   width: 2em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.5em;
}

.spixi-center {
    text-align: center;
}

.spixi-italic {
    font-style: italic;
}

.spixi-bold {
    font-weight: bold;
}


/* Placeholders */
.spixi-holder-20 {
    width: 100%;
    height: 20px;
}
.spixi-holder-40 {
    width: 100%;
    height: 40px;
}

.spixi-holder-64 {
    width: 100%;
    height: 64px;
}

/* Toolbar */
.spixi-toolbar {
    width: 100%;
    height: 56px;
    position: fixed;
    z-index: 100;
    
    font-size: 16pt;
    background-image: linear-gradient(#951453, #c2185b);

   /* background: #771250;*/
    color: #FFF;  
}
.spixi-toolbar.extended {
    height: 128px;
}
.spixi-toolbar.extended-main {
    height: 166px;
}
.spixi-toolbar.shadow {
    box-shadow:0px 1px 2px #777;
}

.spixi-toolbar-row {
    padding-top: 10px;
    height: 56px;
}

.spixi-toolbar-row.extended {
    padding-top: 12px;
    font-size: 14pt;
}
.spixi-toolbar-row-details {
    padding-right: 15pt;
    font-size:9pt;
}

.spixi-toolbar-holder {
    width: 100%;
    height: 56px;
}
.spixi-toolbar-holder.extended {
    height: 128px;
}
.spixi-toolbar-holder.extended-main {
    height: 166px;
}

.spixi-toolbar-line {
    width: 85%;
    height: 1px;
    background: rgba(0,0,0,0.2);
    margin: auto;
}

.spixi-toolbar-logo {
    background-image: url('../img/spixitoolbarlogo.png');
    width: 122px;
    height: 40px;
    background-size: 121px 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.spixi-toolbar-option {
    padding-top: 4pt;
    font-size: 12pt;
}

.spixi-toolbar-chat-name {
    overflow: hidden;
    text-overflow: ellipsis;
}
.spixi-toolbar-chat-status {
    font-size: 11pt;
    margin-top: -4pt;
    font-weight: 200;
}

.spixi-toolbar-contact {
    width: 100%;
    height: 146px;
    font-size: 16pt;
    color: #FFF; 
    background-color: #25193c;
}

.spixi-toolbar-contact-name {
    margin-top: 24px;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spixi-toolbar-contact-status {
    margin-left: 20px;
    font-size: 9pt;
}

/* BalanceBar */
.spixi-balancebar {
    width: 100%;
    color: #fff;
    background-color: #25193c;
    box-shadow:0px 4px 10px #777;
    padding: 10px 0px;
}
.spixi-balancebar-label {
    font-size: 12pt;
    padding-left: 20px;
}
.spixi-balancebar-balance {
    font-size: 14pt;
    padding-left: 20px;
    padding-top: 8px;
}
.spixi-balancebar-line {
    margin-left: 20px;
    margin-top: 5px;
    width: 110px;
    height: 2px;
    background-color: #1692d9;
}
.spixi-balancebar-info {
    font-size: 8pt;
    font-style: italic;
    padding-left: 20px;
    padding-top: 4px;
}
.spixi-balancebar-quickscan {
    float: right;
    margin-top: -80px;
    margin-right: 20px;
}

/* OptionBar */
.spixi-optionbar {
    width: 100%;
    color: #fff;
    background-color: #25193c;
    box-shadow:0px 4px 10px #777;
}
.spixi-optionbar-frame {
    width:100%; 
    margin: auto;
}
.spixi-optionbar-tab {
    background: #25193c;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 0px;
}
.spixi-optionbar-tab:hover {
    background: #543c83;
}
.spixi-optionbar-tab:active {
    color: #dc236c;
    background: #25193c;
}
.spixi-optionbar-tab:active a {
    color: #dc236c;
}
.spixi-optionbar-tab a {
    color: #FFFFFF; 
}
.spixi-optionbar-tab-icon {
    font-size: 16pt;
    height: 26px;
}
.spixi-optionbar-label {
    margin-top: 3px;
}

/* DescriptionBar */
.spixi-descriptionbar {
    width: 100%;
    color: #fff;
    background-color: #25193c;
    box-shadow:0px 4px 10px #777;    
}
.spixi-descriptionbar.small {
}
.spixi-descriptionbar-row {
    padding: 10px;
}
.spixi-descriptionbar-row-details {
    padding-right: 30px;
    font-size: 9pt;
}
.spixi-descriptionbar.chat {
    background-color: #55516c;
    word-wrap: break-word;
}

/* TabBar */
.spixi-footer {
    /*position: fixed;*/
    height: 64px;
    bottom: 0;
    width: 100%;
    background-color: #ad1457;
    border-top: 1px solid #CC87AB;
}

.spixi-footer-row {
    height: 64px;
    text-decoration: none;
}
.spixi-footer-row a {
 /*   color:#440024;*/
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
.spixi-footer-row a:hover {
    color:#fff;
}

.spixi-tab {
    background: #ad1457;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    color: #3a061d;
}
.spixi-tab-pad {
    padding-top: 11px;
}
.spixi-tab.active {
    color: #FFF;
    background: #950d49;
}
.spixi-tab.active a {
    color: #FFF;
}

.spixi-tab:hover {
    background: #950d49;
}
.spixi-tab a {
    color: #3a061d; 
}
.spixi-tab-icon {
    font-size: 16pt;
    height: 26px;
}

.spixi-footer-chat-unread-indicator {
    display: none;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background: #66bced;
    border: 1px solid white;
    position: relative;
    margin: -17px auto;
    right: -6px;
}

.unread .spixi-footer-chat-unread-indicator {
    display: block;
}



/* ToastBar */
.spixi-toastbar {
    visibility: hidden;
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #D5016E; 
    color: #fff; 
    text-align: center; 
    border-radius: 20px; 
    padding: 16px; 
    position: fixed; 
    z-index: 100; 
    left: 50%; 
    top: 50%;
    font-size: 11pt;
    font-weight: bold;
}
.spixi-toastbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* ErrorBar */
.spixi-errorbar {
    width: 100%;
    height: 32px;
    background-color: #f3aa1d;
    color: #FFFFFF;
    padding-top: 3px;
    font-size: 12pt;
}
.spixi-errorbar-icon {
    float:left;
    margin-left: 20px;
}
.spixi-errorbar-message {
    margin-left: 60px;
}

/* CallBar */
.spixi-callbar {
    width: 100%;
    position: fixed;
    z-index: 101;
    font-size: 16pt;
    height: 164px;
    background-color: #25193C;
    color: #FFFFFF;
    padding-top: 3px;
    font-size: 12pt;
}

.spixi-callbar-placeholder {
    width: 100%;
    height: 164px;
}

.spixi-callbar-title {
    font-size: 18pt;
    margin-top: 16px;
    margin-left: 26px;
}

.spixi-callbar-separator {
    width: 90%;
    height: 1px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #403554;
}

/* Buttons */
.spixi-button {
    
    width: 200px;
    height: 46px;
    
    padding-top: 10px;
    text-align: center;
    font-size: 14pt;
    font-weight: 400;
    
    color: #fff;
    background: #c2185b;
    border-radius: 50px;
    box-shadow:0px 8px 19px #BBB;
}

.spixi-button:hover {
    background: #d14f82;
}
.spixi-button:active {
    background: #543c83;
    box-shadow: 0px 0px;
}
.spixi-button.disabled {
    background: #d4d4d4;
    color: #949494;
    box-shadow: 0px 0px;
}

.spixi-button.center {
    margin: auto;
}

.spixi-button.padding-left {
    margin-left: 30px;
}
.spixi-button.padding-top {
    margin-top: 20px;
}

.spixi-button.small {
    height:36px;
    border-radius: 18px;
    padding-top: 8px;
    font-size: 10pt;
}
.spixi-button.smallwidth {
    width: 160px;
}
.spixi-button.extrasmallwidth {
    width: 140px;
}
.spixi-button.darkshadow {
    box-shadow:0px 8px 19px #333;
}

.spixi-button.ghost {
    background-color: #55516c;
    color: #f7f7f7;
    border: 2px solid #fff;
}
.spixi-button.ghost:hover {
    background-color: #c14c7f;
}
.spixi-button.ghost:active {
    background-color: #901352;
    box-shadow: 0px 0px;
}

.spixi-button.blue {
    background: #1692d9;
}

.spixi-button.blue:hover {
    background: #771250;
}

.spixi-button.large {
    width: 85%;
}

.spixi-button.round {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    box-shadow: 0px 4px 10px #888;

    font-size: 18pt;
    background: #1692d9;
    
    padding-top: 0px;
    
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.spixi-button.round:hover {
    background: #66bced;
}
.spixi-button.round:active {
    background: #543c83;
}

.spixi-button.smallround {
    width: 54px;
    height: 54px;
    border-radius: 64px;
    box-shadow: 0px 0px;

    font-size: 18pt;
    background: #1692d9;    
    border: 2px solid #fff;

    padding-top: 0px;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.spixi-button.smallround:hover {
    background: #6abded;
}
.spixi-button.smallround:active {
    background: #543c83;
}

.action-button {
    display: block;
    z-index: 10;  
    position: fixed;
    right: 20px;  
    bottom: 80px;
}

.spixi-avatar {
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

/* TextField */
.spixi-textfield {
    width: 100%;
    height: 44px;
    
    background: #FFF;
    border: solid 1px #A19BAC;
    outline: none;
    border-radius: 64px;
    
    color: #000;
    padding-left: 12px;
    padding-right: 12px;
}
.spixi-textfield:focus {
    border: solid 1px #CA008E;
}

.spixi-textfield-holder {
    width: 85%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 6px;
}
.spixi-textfield-holder.smallpadding {
    padding-top: 0px;
    padding-bottom: 0px;
}
.spixi-textfield-holder-icon {
    float: right;
    font-size: 14pt;
    margin-right: 15px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: #c2185b;
}
.spixi-textfield-holder-text {
    float: right;
    font-size: 14pt;
    margin-right: 18px;
    margin-top: -37px;
    position: relative;
    z-index: 2;
    color: #000;
}

.spixi-textsection-holder {
    width: 85%;
    margin: auto;   
    font-size: 10pt;
}

.spixi-textsection-header {
    font-size: 14pt;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spixi-textsection-header2 {
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #1692d9;
}

.spixi-text-address {
    text-align: center;
    color: #D5016E;
}

/* Switch */
.spixi-switch {
    width: 55px;
    height: 50px;
    background-image: url("../img/switch-on.png");
    background-size: 55px 24px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin-right: 15px;
}
.spixi-switch.off {
    background-image: url("../img/switch-off.png");
}

.spixi-switch-description {
    float: left;
    margin-left: 20px;
    color: #1692d9;
    font-weight: bold;
}


/* Separators */
.spixi-separator-main {
    border-bottom: 6pt solid #dbdee1;   
}

.spixi-separator {
    height: 1px;
    color: rgba(0,0,0,0.12);
    width: 85%;
}
.spixi-separator.noheightmargins {
    margin-top: 0px;
    margin-bottom: 0px;
}
.spixi-separator.fullwidth {
    width: 100%;
}

.spixi-separator-full {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(0,0,0,0.12);
}

/* ExpansionBox */
.spixi-expansion {
    height: 50px;
    background-color: #eef2f5;
    border-bottom: 1px solid #d1d5d7;
    cursor: pointer;
}
.spixi-expanion.active {
    background-color: #e9eaeb;
}

.spixi-expansion-left {
    float: left;
    width: 20px;
    height: 50px;
    background-color: #dbdee1;
    margin-right: 10px;
}

.spixi-expansion .spixi-expansion-left
{
    margin-right: 0px;
}

.spixi-expansion-left.active {
    background-color: #ad1457;
}
.spixi-expansion-icon {
    color: #ad1457;
    float:left;
    font-size: 16pt;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.spixi-expansion-text {
    float:left;
    font-size: 14pt;
    margin-top: 10px;
    margin-left: 15px;
}
.spixi-expansion-right {
    color: #ad1457;
    float:right;
    font-size: 12pt;
    margin-top:12px;
    margin-right: 15px;
}

.spixi-expansion-bottom {
    height: 7px;
    background-color: #dbdee1;
}


.spixi-expansion-box {
    margin: auto;
    width: 85%;
    height: 50px;
    padding-top: 13px;
    
    background-color: #FFF;
    border-radius: 10px;
    box-shadow:0px 4px 10px #777;
}
.spixi-expansion-box.expanded {
    height: 150px;
}

.spixi-expansion-box-left {
    float:left;
    margin-left: 16px;
    margin-top: -2px;
    font-size: 18px;
    color: #c2185b;
}

.spixi-expansion-box-middle {
    float:left;
    margin-left: 18px;
    font-size: 12pt;
    font-weight: bold;
    color: #000;
}

.spixi-expansion-box-right {
    float:right;
    margin-right: 18px;
    color: #c2185b;
}

/* Sidebar */
.spixi-sidebar {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

}
.spixi-sidebar-content {
    position: relative;
    background-color: #1f1f27;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.89);    
    height: 100%;
    width: 75%;
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 0.4s;
    animation-name: animateleft;
    animation-duration: 0.4s
}

.spixi-sidebar-header {
    padding: 38px 24px;
    background-color: #191324;
    color: white;
    height: 204px;
    font-size: 16px;
    text-align: center;
}

.spixi-sidebar-closebutton {
    color: white;
    font-size: 18pt;
    text-align: left;
    width: 100%;
    display: block;
}

.spixi-sidebar-avatar {
    width:70px;
    height:70px;
    border-radius: 70px;
    margin-top: 0px;
    margin-left: 0px;
}
.spixi-sidebar-avatar-holder {
    text-align: left;
    margin-top: 36px;
}
.spixi-sidebar-title {
    text-align: left;
    font-size: 14pt;
    margin-left: 90px;
    margin-top: -46px;
}

.spixi-sidebar-item {
    height: 52px;
    color: #b5b5b5;
}
.spixi-sidebar-item:hover {
    background-color: #40404b;
}

.spixi-sidebar-item-text {
    padding-top: 14px;
    margin-left: 64px;
    font-size: 16px;    
    height: 52px;
    color: #b5b5b5;
    text-decoration: none;
    border-bottom: 1px solid #40404b;
}
.spixi-sidebar-item-icon {
    float: left;
    color: #b5b5b5;
    font-size: 18pt;
    margin-left: 8px;
    margin-top: 14px;
    width: 40px;
    text-align: center;
}


/* ListItems */
.spixi-list-item {
    width: 100%;
    height: 60px;
    background-color: #eef2f5;
    overflow: hidden;
}
.spixi-list-item:hover {
    background-color: #dae2e9;
}
.spixi-list-item:active {
    background-color: #dae2e9;
}

.spixi-list-item .read {
    color: #a3a4a5;
}

.spixi-list-item-row {
    border-bottom: 1px solid #d1d5d7;
}

.spixi-list-item-avatar {
    width:40px;
    height:40px;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 0px;
}

#exp2-contents .spixi-list-item-avatar
{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: -5px;
}

.spixi-list-item-avatar.selected {
    border: 2px solid #c2185b;
}

.spixi-list-item-left {
    margin-top: 0px;    
    height: 60px;    
    left: 0px;
    border-bottom: 1px solid #d1d5d7;
}
.spixi-list-item-left.small {
    margin-top: 20px;    
    height: 40px;    
}
.spixi-list-item-left.payment {
    margin-top: 14px;
    margin-bottom: 22px;
    height: 46px;    
    font-size: 20px;
}

.spixi-list-item-center {
    height: 60px;
    border-bottom: 1px solid #d1d5d7;
}

.spixi-list-item-title {
    color: #000000;
    font-size: 10pt;
    margin-top: 10px;
    font-weight: bold;
    overflow: hidden;
}
.spixi-list-item-title-center {
    color: #000000;
    font-size: 10pt;
    margin-top: 18px;
    width:100%;
    overflow: hidden;
}
.spixi-list-item-title-center.selected {
    font-weight: bold;
    font-style: italic;
}

.spixi-list-item-subtitle {
    color: #000000;
    font-size: 9pt;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spixi-list-item-right {
    color: #000000;
    margin-top: 20px;    
    height: 40px;
    right: 0px;
    font-size: 9pt;
    text-align: right;
    border-bottom: 1px solid #d1d5d7;
}

.spixi-list-item-action-icon {
    font-size: 14pt;
    margin-right: 15px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    color: #c2185b;
}

.spixi-list-item-noborder{
    border: 0;
}

.spixi-list-placeholer-text {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 10pt;
    font-style: italic;   
}

/* Chat */
.spixi-bubble
{
    font-size: 10pt;
    position:relative;
    background:#ffffff;
    border-radius:16px;
    border: 1px solid #c1d3e0;    
    color: black;
    
    margin-left: 56px;
    margin-right: 85px;
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 10px;
    min-width: 80px;
    padding-bottom: 28px;   
    
    animation-name: chat_animation;
    animation-duration: 0.3s;

    word-wrap: break-word;
}
.spixi-bubble.myself {
    margin-left: 125px;
    margin-right: 11px;
    background: #cbe3f1;
    border: 1px solid rgba(255, 30, 30, 0.3);
}

.spixi-bubble.file {
    font-size: 14pt;
}

.spixi-bubble.sent,
.spixi-bubble.read
{
    border: none;
}

.spixi-bubble .nick {
    font-weight: bold;
}

.spixi-bubble .time
{
    padding-top: 5px;
    font-size: 7pt;
    color: #000;
    z-index: 4;
    position: absolute;
}
.spixi-bubble.myself .time {
    text-align: right;
    right: 15px;
}
.spixi-bubble.myself .actionicon {
    display: table-cell;
    float: left;
    font-size: 14pt;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #FFF;
    padding-left: 10px;
    padding-top: 12px;
    
    background: #7E7F94 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: left;
}

.spixi-bubble.file.myself {
    font-size: 14pt;
    text-align: right;
}

.spixi-bubble .avatar
{
    position: absolute;
    left: -45px;
    z-index: 6;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 32px;    
}

.spixi-bubble .actionicon {
    display: table-cell;
    float: right;
    font-size: 14pt;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #FFF;
    padding-left: 10px;
    padding-top: 12px;
    
    background: #7E7F94 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.spixi-bubble .actionprogress {
    display: table-cell;
    float: right;
    font-size: 10pt;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #FFF;
    padding-left: 0px;
    padding-top: 9px;
    
    background: #7E7F94 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.spixi-bubble .smaller {
      font-size: 6pt;
}


.spixi-bubble .statusIndicator {
    display: none;
}

.spixi-bubble.myself .statusIndicator {
    display: none;
}

.spixi-bubble.sent .statusIndicator {
    color: #a7a7a7;
    display: inline-block;
}

.spixi-bubble.read .statusIndicator {
    color: #1fb817;
    display: inline-block;
}

.spixi-bubble .title {
    background-color: #1692d9;
    color: white;
    padding: 10px;
    border-radius: 16px 16px 0px 0px;
    font-size: 12pt;
}

.spixi-bubble .title i {
    font-size: 16pt;
    margin-right: 20px;
}

.spixi-bubble .status {
    padding: 10px;
    background-color: white;
    color: #9c9c9c;
    border-bottom: 1px solid #e0e0e0;
    font-size: 10pt;
}

.spixi-bubble .status .content {
    color: black;
    font-size: 12pt;
}

.spixi-bubble .status .fa-exclamation-circle {
    color: #c42425;
    font-size: 16pt;
    float: right;
}

.spixi-bubble .status .fa-check-circle {
    color: #5cc31d;
    font-size: 16pt;
    float: right;
}

.spixi-bubble .status .fa-clock {
    color: #df920c;
    font-size: 16pt;
    float: right;
}

.spixi-bubble .amount {
    padding: 10px;
    background-color: white;
    color: #9c9c9c;
    border-bottom: 1px solid #e0e0e0;
    font-size: 10pt;
}

.spixi-bubble .amount .content
{
    color: black;
    font-size: 12pt;
}

.spixi-bubble .view {
    padding: 10px;
    background-color: white;
    color: #1692d9;
    border-radius: 0px 0px 16px 16px;
    font-size: 12pt;
}

.spixi-bubble .view i {
    font-size: 16pt;
}



.spixi-callbubble
{
    font-size: 10pt;
    position:relative;
    background:#dbdfe2;
    border-radius:16px;
    color: black;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 10px;
    min-width: 80px;
    width: 200px;
    padding-bottom: 28px;   
    
    animation-name: chat_animation;
    animation-duration: 0.3s;

    word-wrap: break-word;
}
.spixi-callbubble-declined { 

    background:#dfbdcf;
}

.spixi-callbubble .icon {
    display: table-cell;
    float: left;
    font-size: 18pt;
    margin-top: 8px;
    position: relative;
    z-index: 2;
    color: #2893EF;
    padding-left: 10px;
    padding-top: 12px;
    
    width: 50px;
    height: 50px;
}

.spixi-callbubble .icon-black {
    display: table-cell;
    float: left;
    font-size: 18pt;
    margin-top: 8px;
    position: relative;
    z-index: 2;
    color: #000;
    padding-left: 10px;
    padding-top: 12px;
    
    width: 50px;
    height: 50px;
}

.spixi-callbubble .title {
    font-size: 10pt;
    margin-left: 55px;
}

.spixi-callbubble .text {
    margin-left: 55px;
    font-size: 12pt;
}

.spixi-callbubble .time {
    margin-left: 55px;
    padding-top: 5px;
    font-size: 7pt;
    color: #000;
    z-index: 4;
    position: absolute;
}

.chatholder {
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s;    
    
    width: 100%;
    height: 57px;
   /* background-color: aqua;*/

}
#chatbar {
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s;
    
    position: fixed;
    z-index: 99;
    
    width: 100%;
    bottom: 0;   
    height: 60px;
    background-color: #FFF;
    border-top: 2px solid #E0E4E6;
    
}

.chatbar-container {
    display: table;
    width: 100%;
    height: 100%;
    margin: auto;
}

.chatbar-sendbutton-wrapper {
    display: table-cell;
    z-index: 2;
    width: 55px;
    vertical-align: middle;

    padding-right: 15px;
}

.chatbar-sendbutton {
    display: table-cell;
    font-size: 16pt;
    color: #FFF;

    padding: 0px;

    vertical-align: middle;
    text-align: center;

    background: #BABABA none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#chat_input {
    display: table-cell;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 0px 3px 0px 3px;
    border: 0px;
    background-color: #FFF;
    caret-color: #C2185B;
    font-size: 16px;
    outline: none;
    vertical-align: middle;
}

#chatattachbar {
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s;
    
    position: fixed;
    z-index: 99;    
    width: 100%;
    bottom: -60px;
    height: 60px;
    background-color: #FFF;
    border-top: 1px solid #CBCBCB;
    color: #BABABA;
}

#chat_attach {
    display: table-cell;
    width: 35px;
    font-size: 18pt;
    text-align: left;
    color: #BABABA;
    vertical-align: middle;
    padding-top: 4px;
    padding-left: 17px;
    padding-right: 9px;
    
}

#chat_emoji {
    display: table-cell;
    width: 35px;

    font-size: 18pt;
    text-align: left;
    color: #BABABA;
    padding-top: 4px;
    vertical-align: middle;
    
}
.chatattachsymbol {
    color: #BABABA;
    font-size: 18pt;
    padding-top: 5px;
    padding-bottom: 5px;
}


.chat_attach_tab {
    width: 120px;
    height: 60px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.spixi-friend-status-indicator {
    display: none;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: green;
    position: relative;
    margin-top: -10px;
    margin-left: 30px;
}

#exp2-contents .spixi-friend-status-indicator {
    margin-left: 15px;
}


.online .spixi-friend-status-indicator {
    display: block;
}

.spixi-chat-unread-indicator {
    display: none;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: #c2185b;
    float: right;
    position: relative;
    margin-top: -15px;
    margin-right: 20px;
}

#chatlist .spixi-chat-unread-indicator {
    float: none;
    position: static;
    margin-top: 5px;
    margin-right: 10px;
}

.unread .spixi-chat-unread-indicator {
    display: block;
}

#chatlist .unread .spixi-chat-unread-indicator {
    display: inline-block;
}

.spixi-payment-request
{
    padding: 0px;
}

/* Modals */
.spixi-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2001; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;

    background-color: #eef2f5;
    margin: auto; /* 15% from the top and centered */
    border: 1px solid #888;
    border-radius: 12px;
    width: 250px; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
    font-size: 12pt;
}

.spixi-modal-header {
    font-weight: bold;
    color: #6a6a6a;
    height: 46px;
    padding-left: 15px;
    padding-top: 12px;
}
.spixi-modal-header.warn {
    color: #ad1457;
}
.spixi-modal-footer {
    height: 54px;
}

.spixi-modal-text {
    font-size: 10pt;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    height: 100px;
    color: #6a6a6a;
}

.spixi-modal-item {
    width: 100%;
    color: #6a6a6a;
    height: 50px;
    padding-left: 15px;
    padding-top: 10px;
    
}
.spixi-modal-item:hover {
    color: #000;
    background-color: #dae2e9;
}
.spixi-modal-item:active {
    color: #000;
    background-color: #dae2e9;
}

.spixi-modal-close {
    float: right;
    font-size: 14pt;
    font-weight: bold;
    color: #ad1457;
    padding-right: 14px;
    padding-top: 14px;
}

.spixi-modal-confirm {
    float: left;
    font-size: 14pt;
    font-weight: bold;
    color: #ad1457;
    padding-left: 14px;
    padding-top: 14px;
}

/* Misc Controls */
.noselect {
    /* pointer-events: none; // for Android */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.selectable {
    -webkit-touch-callout: initial; /* iOS Safari */
    -webkit-user-select: auto; /* Safari */
    -khtml-user-select: auto; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: element; /* Internet Explorer/Edge */
    user-select: initial; /* Non-prefixed version, currently
                    supported by Chrome and Opera */
}
.address_qr {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 15px;
    width: 230px;
    height: 230px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #AAA;
}

.spixi-leftswipe-helper {
    display: block; 
    position: fixed;
    z-index: 5000; 
    left: 0;
    top: 54px;
    width: 30px; 
    height: 100%; 
    overflow: auto;
}


.spixi-popbutton {
    width: 150px;
    height: 40px;
    background-color: #FFF;
    float: right;
    margin-top: -40px;
    margin-bottom: 20px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow:0px 4px 2px #CCC;

}
.spixi-popbutton.expanded {
    height: 100px;
}
.spixi-popbutton-right {
    color: #1693da;
    float:right;
    font-size: 12pt;
    margin-top:7px;
    margin-right: 12px;
}

.spixi-popbutton-item {
    font-size: 12pt;
    color: #777;
    margin-left: 52px;
    margin-top: 7px;
}
.spixi-popbutton-item.selected {
    font-weight: bold;
    color: #1693da;
    margin-left: 20px;
}

.spixi-version {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    color: #b5b5b5;
}

/* Color combos */
.spixi-text-green {
    color: #5bbb0e;
}
.spixi-text-red {
    color: #ad1457;
}

/* Animations */
@-webkit-keyframes fadein {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {opacity: 1;} 
  to {opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

/* Add Animation */
@-webkit-keyframes animateleft {
    from {left:-300px; opacity:1} 
    to {left:0; opacity:1}
}

@keyframes animateleft {
    from {left:-300px; opacity:1}
    to {left:0; opacity:1}
}

@-webkit-keyframes animatetop {
    from {bottom:-300px; opacity:0} 
    to {bottom:0; opacity:1}
}

@keyframes animatetop {
    from {bottom:-300px; opacity:0}
    to {bottom:0; opacity:1}
}

@keyframes chat_animation {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

