.address_qr_holder {
    color: #000;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #F9F9F9;
}

.address_qr {
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;

    padding: 10px;
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 15px;
}

.address_text {
    color: #6D6D6D;
    font-style: italic;
}

.address_text_aligned {
    color: #6D6D6D;
    font-style: italic;    
    margin-left: 15px;
}

.address_info {
    color: #6D6D6D;
    width: 200px;
    margin: auto;
    margin-top: -10px;
    height: 26px;
    text-align: left;
    padding-left: 35px;
    
    background-image: url('../img/info_grey.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    
    margin-bottom: 10px;
}

.address_hr {
    color: #D4D4D4;
    background: #D4D4D4;
    border-color: #D4D4D4;
    width: 200px;
    margin-top: 14px;
    height: 2px;
}

.address_desc {
    text-align: left;
    display: inline-block;
    margin: 10px;
}

.wallet_icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-top: 50px;
    margin-left: 20px;
    margin: 10px;
    text-align: left;
    
    background-image: url('../img/Wallet_icon.png');
    background-size: 26px 26px;
    background-repeat: no-repeat;
}

.wallet_top {
    width: 100%;
    border-bottom: 3px solid #DDD;   
}


#toastbar {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #40629F; 
  color: #fff; 
  text-align: center; 
  border-radius: 20px; 
  padding: 16px; 
  position: fixed; 
  z-index: 100; 
  left: 50%; 
  top: 50%;
}

#toastbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {opacity: 1;} 
  to {opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}