<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net461" />
  <package id="Xamarin.Forms" version="4.5.0.356" targetFramework="net461" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.5.0.356" targetFramework="net461" />
  <package id="Xamarin.Plugin.FilePicker" version="2.1.34" targetFramework="net461" />
</packages>