<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.4" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.5.0.1006868" targetFramework="net461" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.5.0.1006868" targetFramework="net461" />
</packages>