<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.4" targetFramework="net47" />
  <package id="Xamarin.Forms" version="4.0.1.7734-nightly" targetFramework="net47" />
  <package id="Xamarin.Forms.Platform.GTK" version="4.0.1.7734-nightly" targetFramework="net47" />
</packages>